/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: black;
  font-size: 16px;
  line-height: 1.4;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*START ===== GENERAL REPEATING RULES ===== START*/

.title {
  color: #535962;
  font-family: "Nexa Bold", sans-serif;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
}

.btn {
  font-family: "Open Sans", sans-serif;
  height: 50px;
  min-width: 209px;
  line-height: 46px;
  border-radius: 2px;
  background-color: #31A5DB;
  box-shadow: 1px 1px 14px 0 rgba(30, 35, 44, 0.14);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s ease;
  border: 2px solid transparent;
  cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: rgba(49, 165, 219, 0.2);
  border-color: #31A5DB;
  color: #244769;
}

/*END ===== GENERAL REPEATING RULES ===== END*/

/*START ===== HEADER ===== START*/

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  background: #fff;
}

.header__logo {
  width: 100%;
  max-width: 121.41px;
  max-height: 24px;
  margin-left: 15px;
}

.header-logo__wrapper {
  display: flex;
  align-items: center;
  height: 60px;
}

.header-nav__list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.header-nav-item__link {
  color: #535962;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  transition: color .3s ease;
}

.header-nav-item__link:after {
  display: block;
  content: '';
  width: 110%;
  margin-left: -10%;
  height: 2px;
  max-width: 0;
  background: linear-gradient(155deg, rgba(49, 165, 219, 0) 1%, rgba(49, 165, 219, 0) 4%, rgba(49, 165, 219, 0) 7%, rgba(49, 165, 219, 0) 10%, rgba(49, 165, 219, 1) 11%, rgba(49, 165, 219, 1) 16%, rgba(49, 165, 219, 1) 17%, rgba(49, 165, 219, 1) 100%);
  border-radius: 1px 1px 1px 0.2px;
  transition: max-width .3s ease;
}

.header-nav-item:hover .header-nav-item__link {
  color: #31A5DB;
}

.header-nav-item__link:active,
.header-nav-item__link:focus {
  outline: 0
}

.header-nav-item:hover .header-nav-item__link:after,
.header-nav-item__link:active:after,
.header-nav-item__link:focus:after {
  max-width: 110%;
}

.header-nav-item_telegram {
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/telegram.png);
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;
  position: relative;
  transition: opacity .3s ease;

}

.header-nav-item-link_telegram {
  display: block;
  width: 100%;
  height: 100%;
}

.header-nav-item_telegram:hover {
  opacity: 0.7;
}

/*END ===== HEADER ===== END*/

/*START ===== HERO ===== START*/

.hero {
  padding-top: 60px;
  background-size: cover;
  background-position: 50% 100%;
  max-height: 56vw;
  height: auto;
  padding-bottom: 210px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__logo {
  width: 200px;
  height: auto;
  margin-top: 112px;
}

.hero__title {
  color: #FFFFFF;
  font-family: "Nexa Bold", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  margin-top: 59px;
}

.hero__btn {
  margin-top: 65px;
}

/*END ===== HERO ===== END*/

/*START ===== DESCRIPTION ===== START*/

.description {
  display: flex;
  position: relative;
}

.description:after {
  content: '';
  display: block;
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: 14vw;
  background-image: url(../img/bg/arrow.png);
  background-size: cover;
  background-position: 50% 100%;
}


.description__row {
  margin-top: 73px;
  padding-bottom: 202px;

}

.description__title {
  font-family: "Nexa Bold", sans-serif;
  font-size: 30px;
  max-width: 370px;
  letter-spacing: 1px;
  line-height: 43px;
  color: #000;
  text-transform: uppercase;
  margin: 0;
}

.description-title__span {
  display: block;
}

.description-title__span_gray {
  color: #888D94;
}

.description__text {
  margin: 0;
  color: #535962;
  font-family: ".SF NS Display", sans-serif;
  font-size: 17px;
  letter-spacing: 0.36px;
  line-height: 24px;
}

/*END ===== DESCRIPTION ===== END*/

/*START ===== BENEFITS ===== START*/

.benefits__container {
  justify-content: center;
  display: flex;
}

.benefits__content {
  overflow-x: hidden;
  display: inline-block;
}

.benefits-card {
  padding-top: 45px;
  padding-bottom: 42px;
  width: 630px;
  margin: 30px auto;
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefits-card:nth-child(odd) {
  flex-direction: row-reverse
}

.benefits-card:before,
.benefits-card:after {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
}

.benefits-card:before {
  box-shadow: 0 -2px 30px rgba(0, 0, 0, 0.2);
  top: 15px;
  bottom: 80%;
}

.benefits-card:nth-child(even):before {
  right: 10px;
  transform: rotate(-0.5deg);
}

.benefits-card:nth-child(odd):before {
  left: 10px;
  transform: rotate(0.5deg);
}


.benefits-card:after {
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  bottom: 15px;
  top: 80%;

}

.benefits-card:nth-child(even):after {
  right: 10px;
  transform: rotate(0.5deg);
}

.benefits-card:nth-child(odd):after {
  left: 10px;
  transform: rotate(-0.5deg);
}

.benefits-card-info {
  margin-left: 18px;
  margin-right: 30px;
}

.benefits-card-info__title {
  margin-top: 45px;
  color: #31A5DB;
  font-family: "Nexa Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.benefits-card-info__text {
  margin-top: 13px;
  max-width: 236px;
  color: #244769;
  font-family: ".SF NS Display", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.benefits-card__image {
  max-height: 150px;
  margin-right: 136px;
  margin-left: 30px;
  width: auto;
}

.benefits-card__image_cake {
  max-height: 146px;
}

.benefits-card__image_speed {
  max-height: 149px;
}

.benefits-card__image_security {
  max-height: 148.46px;
}

/*END ===== BENEFITS ===== END*/

/*START ===== BLOCKCHAIN ===== START*/
.blockchain {
  padding: 270px 0 186.84px 0;
  background-image: url(../img/bg/blockchain-bg.png);
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media (min-width: 1920px) {
  .blockchain {
    background-size: 100% 100%;
  }
}

.blockchain__subtitle {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Nexa Light", sans-serif;
  font-size: 19px;

  text-transform: uppercase;
  line-height: 23px;
  text-align: center;
}

.blockchain__subtitle_strong {
  color: #000;
}

.blockchain__cards {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-between;
}

.blockchain-card {
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: #fff;
  height: 261px;
  max-width: 256px;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockchain-card__image {
  height: 80px;
  width: auto;
  margin: 28px 0 0 0;
}

.blockchain-card__title {
  color: #31A5DB;
  font-family: "Nexa Bold", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin: 28px 0 0 0;
}

.blockchain-card__text {
  margin-top: 12px;
  color: #535962;
  font-family: ".SF NS Display", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

/*END ===== BLOCKCHAIN ===== END*/

/*START ===== WHO-WE-ARE ===== START*/

.who-we-are__title {
  margin: 100.16px 0 0 0;
}

.who-we-are__subtitle {
  color: #000000;
  font-family: "Nexa Light", sans-serif;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
}

/* FOUNDERS */

.founder {
  display: flex;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.11);
  border-radius: 8px;
}

.founder__image {
  width: 44.6%;
  height: 100%;
}

.founder__info {
  padding: 12px;
  position: relative;
}

.founder__name {
  color: #535962;
  font-family: "Nexa Bold", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.founder__position {
  color: #ADADAD;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 19px;
  margin: 4px 0 0 0;
}

.founder__cv {
  color: #1C2126;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 17px;
  margin: 4px 0 0 0;
}

.founder__socials {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: -8px;
  margin-left: -8px;
  list-style-type: none;

}

.founder-socials__item {
  margin-left: 8px;
  margin-right: 8px;
}

.founder-socials-item__twitter {
  width: 20px;
  height: 23px;
  background-image: url();
}

/* CORE TEAM */

.core-team__title {
  margin: 119px 0 0 0;
}

.core-team__members-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.core-team__member {
  width: 166px;
  position: relative;
}

.core-team-member__image {
  width: 100%;
}

.core-team-member__name {
  color: #1C2126;
  font-family: "Nexa Bold", sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.core-team-member__position {
  color: #ADADAD;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: italic;
  line-height: 27px;
  text-align: center;
}

/* ADVISORS */

.advisors__title {
  margin: 130px 0 0 0;
}

/*END ===== WHO-WE-ARE ===== END*/

/*START ===== PARTNERS/INVESTORS ===== START*/
.partners-investors {
  background-image: url(../img/bg/partners-investors-bg.png);
  background-size: 100% 100%;
  background-position: center;
  padding: 64px 0 93px;
}

.partners-investors-list {
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-top: 47px;
}

.partners-investors-list-item__image {
  max-width: 200px;
}

.partners-investors-list-item__image_dcu {
  width: 194px;
}

.partners-investors-list-item__image_legilogic { 
width: 149px;
}

.partners-investors-list-item__image_nervos {
  width: 170px;
}

.partners-investors-list-item__image_cmb {
  width: 191px;
}


/*END ===== PARTNERS/INVESTORS ===== END*/









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
