/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: black;
  font-size: 16px;
  line-height: 1.4;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

body {
  overflow-x: hidden;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*START ===== GENERAL REPEATING RULES ===== START*/

.title {
  color: #535962;
  font-family: "Nexa Bold", sans-serif;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.tech-title{
  color: #535962;
}
.btn {
  font-family: "Open Sans", sans-serif;
  height: 50px;
  min-width: 209px;
  line-height: 46px;
  border-radius: 2px;
  background-color: #31A5DB;
  box-shadow: 1px 1px 14px 0 rgba(30, 35, 44, 0.14);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s ease;
  border: 2px solid transparent;
  cursor: pointer;
  display: inline-block;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: rgba(49, 165, 219, 0.2);
  border-color: #31A5DB;
  color: #244769;
}

.shadow-card {
  position: relative;
  width: 830px;
}

.shadow-card_hidden {
  display: none;
}


.shadow-card:before,
.shadow-card:after {
  z-index: -1;
  position: absolute;
  content: "";
  width: 85%;
}

.shadow-card:before {
  box-shadow: 0 -2px 30px rgba(0, 0, 0, 0.2);
  top: 15px;
  bottom: 80%;
}

.shadow-card:nth-child(even):before {
  /*right: 10px;*/
  transform: rotate(-.75deg);
}

.shadow-card:nth-child(odd):before {
  /*left: 10px;*/
  transform: rotate(.75deg);
}


.shadow-card:after {
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  bottom: 15px;
  top: 80%;

}

.shadow-card:nth-child(even):after {
  /*right: 10px;*/
  transform: rotate(.75deg);
}

.shadow-card:nth-child(odd):after {
  /*left: 10px;*/
  transform: rotate(-.75deg);
}

.see-more {
  color: #31A5DB;
  font-family: "Nexa Bold", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity .3s ease;
}

.see-more:hover {
  opacity: 0.6;
}



.twitter-icon {
  background-image: url(../img/optimized/icons/twitter.png);
  width: 20px;
  height: 23px;
  margin-top: 2px;
}

.twitter-icon:after {
  background-image: url(../img/optimized/icons/twitter_hover.png);
}

.twitter-icon:hover {
  background-image: url(../img/optimized/icons/twitter_hover.png);
}



.linkedin-icon {
  background-image: url(../img/optimized/icons/linkedin.png);
  width: 19px;
  height: 22px;
}

.linkedin-icon:after {
  visibility: hidden;
  background-image: url(../img/optimized/icons/linkedin.png);
  content: '';
  height: 0;
  width: 0;
  opacity: 0;
  position: absolute;
}

.linkedin-icon:hover {
  background-image: url(../img/optimized/icons/linkedin_hover.png);
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .twitter-icon {
    background-image: url(../img/icons/twitter.png);
  }

  .twitter-icon:hover,
  .twitter-icon:after {
    background-image: url(../img/icons/twitter_hover.png);
  }

  .linkedin-icon {
    background-image: url(../img/icons/linkedin.png);
  }

  .linkedin-icon:hover,
  .linkedin-icon:after {
    background-image: url(../img/icons/linkedin_hover.png);
  }
}

.socials-icon {
  margin-left: 9px;
  margin-right: 9px;
  background-size: contain;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
  transition: background-image .3s ease;
}

.socials-icon:after {
  visibility: hidden;
  content: '';
  height: 0;
  width: 0;
  opacity: 0;
  position: absolute;
}

.telegram-icon {
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/telegram.png);
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;
  position: relative;
  transition: opacity .3s ease;
  display: block;

}

.telegram-icon:hover {
  opacity: 0.7;
}

.hamburger {
  display: none;
}

.hamburger__inner {
  width: 21px;
  height: 2px;
  background-color: #31A5DB;
  border-radius: 3px;
  cursor: pointer;
  transition: all .2s ease;
}

.hamburger:before,
.hamburger:after {
  display: block;
  position: absolute;
  content: '';
  height: 2px;
  background-color: #31A5DB;
  border-radius: 3px;
  transition: all .275s ease .025s;
}

.hamburger:before {
  width: 16px;
  margin-top: -5px;
}

.hamburger:after {
  width: 14px;
  margin-top: 3px;
}

.hamburger.active .hamburger__inner {
  background-color: rgba(49, 165, 219, 0);
  transform: translateX(15px);
}

.hamburger.active:before {
  transform: translate(0, 9.5px) rotate(45deg);
  width: 20px;
}

.hamburger.active:after {
  transform: rotate(-45deg);
  width: 20px;
}

.cached-image {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}

/*END ===== GENERAL REPEATING RULES ===== END*/

/*START ===== HEADER ===== START*/

.mmenu__list {
  display: none;
  padding-left: 0;
}

.header {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 60px;
    background-color: #f5f5f5;
  transition: background-color .3s ease;
}

.header__logo {
  width: 100%;
  max-width: 121.41px;
  max-height: 24px;
  margin-left: 15px;
}

.header-nav__telegram {
  display: none;
}

.header-logo__wrapper {
  display: flex;
  align-items: center;
  height: 60px;
}

.header-nav__list {
  position: relative;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.header-nav-item__link {
  color: #535962;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  transition: color .3s ease;
}

.header-nav-item__link:after {
  display: block;
  content: '';
  width: 110%;
  margin-left: -10%;
  height: 2px;
  max-width: 0;
  background: linear-gradient(155deg, rgba(49, 165, 219, 0) 1%, rgba(49, 165, 219, 0) 4%, rgba(49, 165, 219, 0) 7%, rgba(49, 165, 219, 0) 10%, rgba(49, 165, 219, 1) 11%, rgba(49, 165, 219, 1) 16%, rgba(49, 165, 219, 1) 17%, rgba(49, 165, 219, 1) 100%);
  border-radius: 1px 1px 1px 0.2px;
  transition: max-width .3s ease;
}

.header-nav-item__link:hover,
.header-nav-item__link.active {
  color: #31A5DB;
}

.header-nav-item__link:active,
.header-nav-item__link:focus {
  outline: 0
}

.header-nav-item:hover .header-nav-item__link:after {
  max-width: 110%;
  transition: max-width .3s ease;
}

.header-nav-item__link.active:after {
  max-width: 110%;
  transition: max-width .2s ease .2s;
}
.header-nav-item__list{
  position: absolute;
  background-color: #f5f5f5;
  padding: 15px;
  top: 32px;
  display: none;
}
.faq:hover .header-nav-item__list{
  display: block;
}
.header-nav-item-list__item{
  margin-bottom: 15px;
  list-style: none;
}
.header-nav-item-list__item:last-child{
  margin-bottom: 0;
}
.header-nav-item-list-item__link:hover{
  color: #31A5DB;
}
.header-nav-item__hover{
  position: relative;
}
.menu-arrow{
  position: absolute;
  right: -10px;
  top: 10px;
  display: block;
  width: 6px;
  height: 5px;
  background: url('../img/tech_diligence/Triangle.svg');
}
.header-nav-item-list-item__link{
  color: #535962;
  text-decoration: none;
}
.header-nav-item_telegram {
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/telegram.png);
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;
  position: relative;
  transition: opacity .3s ease;
}

.header-nav-item-link_telegram {
  display: block;
  width: 100%;
  height: 100%;
}

.header-nav-item_telegram:hover {
  opacity: 0.7;
}

/*END ===== HEADER ===== END*/

/*START ===== HERO ===== START*/

.hero {
  padding-top: 60px;
  background-size: cover;
  background-position: 50% 100%;
  max-height: 56vw;
  height: auto;
  padding-bottom: 210px;
  background-image: url(../img/optimized/bg/hero-bg.png)
}
.tech{
  position: relative;
  z-index: 1;
  padding-top: 60px;
  background-size: cover;
  background-position: 50% 100%;
  max-height: 56vw;
  height: auto;
  padding-bottom: 210px;
  background-image: url(../img/tech_diligence/header_img.png)
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/bg/hero-bg.png)
  }
}


.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__logo {
  width: 200px;
  height: auto;
  margin-top: 112px;
}
.tech__logo{
  width: 105px;
  height: auto;
  margin-top: 87px;
}

.hero__title {
  color: #FFFFFF;
  font-family: "Nexa Bold", sans-serif;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  margin-top: 39px;
    margin-bottom: 0;
  text-transform: uppercase;
  width: 619px;
}
.tech__title{
  font-size: 20px;
  line-height: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  width: 553px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}
.main-tech-title{
  color: #535962;
  font-family: "Nexa Bold", sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-transform: uppercase;
}
.tech__title-main{
  width: 595px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 10px;
}

.hero__btn {
  min-width: 260px;
  margin-top: 37px;
}
.tech__btn{
  min-width: 231px;
  margin-top: 36px;
}
/*END ===== HERO ===== END*/

/*START ===== DESCRIPTION ===== START*/

.description {
  display: flex;
  position: relative;
}

.description:after {
  content: '';
  display: block;
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: 14vw;
  background-image: url(../img/optimized/bg/arrow.png);
  background-size: cover;
  background-position: 50% 100%;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .description:after {
    background-image: url(../img/bg/arrow.png);
  }
}


.description__row {
  /*margin-top: 73px;*/
  margin-left: 100px;
  padding-bottom: 202px;

}

.description__title {
  font-family: "Nexa Bold", sans-serif;
  font-size: 30px;
  max-width: 370px;
  letter-spacing: 1px;
  line-height: 43px;
  color: #000;
  text-transform: uppercase;
  margin: 0;
}

/*.description-title__span {
  display: block;
}

.description-title__span_gray {
  color: #888D94;
}

.description__text {
  margin: 0;
  color: #535962;
  font-family: ".SF NS Display", sans-serif;
  font-size: 17px;
  letter-spacing: 0.36px;
  line-height: 24px;
}*/

/*END ===== DESCRIPTION ===== END*/

/*START ===== ALACRIS OPERATING SYSTEM ===== START*/

.system__title{
  margin-top: 42px;
  margin-bottom: 32px;
}
.description__system{
  width: 100%;
  max-width: 663px;
  color: #1C2126;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;

}
.description__text-bold{
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.36px;
  margin-bottom: 10px;
  margin-top: 0;
}
.description__text-normal{
  font-size: 14px;
  letter-spacing: 0.3px;
  margin-bottom: 39px;
}
.description__text-bolder{
  font-size: 20px;
  letter-spacing: 0.43px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 33px;
}
.description__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 850px;
  padding: 0;
}
.description__list li{
    position: relative;
  list-style: none;
}
.description__card{
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  flex-direction: column;
  width: 100%;
  max-width: 375px;
  height: 226px;
  border-radius: 50px;
}
.description__card-span{
  display: block;
  width: 100%;
  max-width: 250px;
  padding-top: 35px;
  padding-bottom: 8px;
  color: #1C2126;
  font-family: "Open Sans",sans-serif;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.36px;
  line-height: 24px;
}
.description-card__list{
  align-self: flex-start;
  padding-left: 60px;
}
.description-card__list-item{
  display: flex;
  align-items: center;
  color: #1C2126;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 24px;
}
.description-card__list-item::before{
  content: '';
  display: block;
  margin-right: 8px;
  width: 11px;
  height: 4px;
  border-radius: 2px;
  background-color: #535962;
}

.description__card-absolute{
    position: absolute;
}
/*END ===== ALACRIS OPERATING SYSTEM ===== END*/

/*START ===== BENEFITS ===== START*/

.benefits__title {
  margin-top: 100px;
  margin-bottom: 24px;
}

.benefits__container {
  justify-content: center;
  display: flex;
}


.benefits__content {
  overflow-x: hidden;
  display: inline-block;
}

.benefits-card {
    width: 800px;
  height: 270px;
  padding-top: 45px;
  padding-bottom: 42px;
  margin: 24px auto;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.benefits-card:nth-child(even) {
  flex-direction: row-reverse
}

.benefits-card-info {
  margin-left: 18px;
  margin-right: 30px;
}
.benefits-card__info_security {
  margin-bottom: 15px;
}
.benefits-card-info__title {
  margin-top: 45px;
  color: #31A5DB;
  font-family: "Nexa Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
}

.benefits-card-info__text {
  margin-top: 13px;
  max-width: 289px;
  color: #244769;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.benefits-card__image {
  max-height: 150px;
  margin-right: 136px;
  margin-left: 30px;
  width: auto;
}

.benefits-card__image_cake {
  max-height: 146px;
    margin-left: auto;
    margin-right: auto;
}

.benefits-card__image_speed {
  max-height: 149px;
}

.benefits-card__image_security {
  max-height: 148.46px;
}

.benefits__description{
  width: 100%;
  max-width: 663px;
  color: #1C2126;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 24px;
  margin: 0 auto;
  padding: 0 15px;
}

/*END ===== BENEFITS ===== END*/

/*START ===== BLOCKCHAIN ===== START*/
.blockchain {
  padding: 340px 0 120px 0;
  /*margin-bottom: 50px;*/
  background-image: url(../img/optimized/bg/blockchain-bg.png);
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media (min-width: 1500px) {
  .blockchain {
    background-size: 100% 100%;
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .blockchain {
    background-image: url(../img/bg/blockchain-bg.png);
  }
}

.blockchain__subtitle {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Nexa Light", sans-serif;
  font-size: 19px;

  text-transform: uppercase;
  line-height: 23px;
  text-align: center;
}

.blockchain__subtitle_strong {
  color: #000;
}

.blockchain__cards {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blockchain-card {
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: #fff;
  height: 261px;
  max-width: 256px;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockchain-card__image {
  height: 80px;
  width: auto;
  margin: 28px 0 0 0;
}

.blockchain-card__title {
  color: #31A5DB;
  font-family: "Nexa Bold", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 28px 0 0 0;
}

.blockchain-card__text {
  margin-top: 12px;
  color: #535962;
  font-family: ".SF NS Display", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
.team_container{
    width: 100%;
    max-width: 900px;
}
.team__list{
  display: flex;
  flex-wrap: wrap;
    margin-top: 25px;
  padding: 0;
}
.team__list-item{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 191px;
    margin-bottom: 25px;
    margin-right: 45px;
}
.team__list-item:nth-child(4n){
    margin-right: 0;
}
.team__list-img{
    height: 177px;
    width: 176px;
}
.team__list-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.team__list-name{
  display: block;
  padding-top: 11px;
  padding-bottom: 4px;
  text-transform: uppercase;
  color: #1C2126;
  font-family: "Nexa Bold", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.team__list-position{
  display: block;
  padding-bottom: 8px;
  font-family: "Open Sans", sans-serif;
  color: #535962;
  font-size: 12px;
  line-height: 17px;
}
.team__list-description{
    margin: 0;
  color: #535962;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
}

/*END ===== BLOCKCHAIN ===== END*/

/*START ===== WHO-WE-ARE ===== START*/

.who-we-are {
  padding-top: 100px;
}

.who-we-are__title {
  margin-bottom: 24px;
}

.who-we-are__subtitle {
  color: #000000;
  font-family: "Nexa Thin", sans-serif;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  background: #fff;
  display: block;
  z-index: 5;
  overflow-x: hidden;
}

.who-we-are__subtitle:before,
.who-we-are__subtitle:after {
  content: '';
  height: 1px;
  display: inline-block;
  width: 50%;
  position: absolute;
  top: 50%;

}

.who-we-are__subtitle:before {
  background-image: linear-gradient(to left, rgba(201, 237, 219, 1), rgba(210, 244, 252, 1));
  transform: translateX(calc(-100% - 13px));
}

.who-we-are__subtitle:after {
  margin-left: 13px;
  background-image: linear-gradient(to right, rgba(201, 237, 219, 1), rgba(210, 244, 252, 1));
}

/*ADVISORS*/
.advisors__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}
.advisors__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 176px;
  list-style: none;
}
.advisors__list-name{
  display: block;
  padding-top: 12px;
  color: #1c2126;
  font-size: 14px;
  font-weight: 700;
  font-family: "Nexa Bold", sans-serif;
  text-transform: uppercase;
}
.advisors__list-link{
  display: block;
  padding-top: 4px;
  color: #31a5db;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  cursor: pointer;
}
.advisors__list-position{
  margin: 0;
  padding-top: 7px;
  color: #535962;
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
}
.advisors__list-img{
  width: 150px;
}
.advisors__list-img img{
  width: 100%;
}
/*ADVISORS*/


/*END ===== WHO-WE-ARE ===== END*/

/*START ===== DEVELOPERS ===== START*/
.developers{
  padding-top: 100px;
}
.developers__description{
  width: 100%;
  max-width: 663px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 30px;
  color: #1C2126;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.36px;
  line-height: 24px;
}
.developers__list{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 663px;
  margin: 0 auto;
  padding: 0;
}
.developers__list-item{
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 112px;
}
.developers__list-span{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 14px;
  letter-spacing: 0.3px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: auto;
}
.developers__list-link{
  min-width: 136px;
  height: 40px;
  font-size: 12px;
  line-height: 36px;
}

/*END ===== DEVELOPERS ===== END*/

/*START ===== EXAMPLE CASE STUDY ===== START*/

.case-study{
  padding-top: 100px;
}
.case-study__list{
  position: relative;
  left: 75px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 38px;
  columns: 2;
}
.case-study__item{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  list-style: none;
  color: #1C2126;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.36px;
  line-height: 24px;
}
.case-study__item::before{
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  border-radius: 50%;
  background: linear-gradient(196.32deg, #2EB872 0%, #50D3F1 100%);
}
.case-study__example{
  padding-top: 80px;
}
.case-study__example img{
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.case-study__example-span{
  display: block;
  padding-bottom: 18px;
  color: #1C2126;
  font-family: "Nexa Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
/*END ===== EXAMPLE CASE STUDY ===== END*/

/*START ===== FOOTER ===== START*/
.our-blog{
  padding-top: 100px;
}
.our-blog__card{
  display: flex;
    width: 630px;
  height: 203px;
  margin: 24px auto 0 auto;
  background-color: #fff;
  justify-content: space-around;
  align-items: center;
}

/*END ===== EXAMPLE CASE STUDY ===== END*/
.bg-white{
  position: relative;
  background-image: url('../img/tech_diligence/bg_developer.png');
  padding: 80px 0 120px 0;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-top: -11%;
}
/*START ===== PROBLEM SOLVING ===== START*/
.problem-solving{
  padding-top: 150px;
}
.problem-solving__container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 815px;
  margin: 0 auto;
}
.problem-solving-container__item{
  display: flex;
  list-style: none;
  padding-bottom: 40px;
}
.problem-solving-container-item__wrap{
  display: flex;
  flex-direction: column;
  margin-right: 21px;
}
.problem-solving-container-item-wrap__span{
  color: #535962;
  font-family: "Nexa Bold", sans-serif;
  font-size: 28px;
  letter-spacing: 0.78px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 18px;
}
.problem-solving-container-item__img{
  width: 149px;
  height: 149px;
  object-fit: contain;
}
.problem-solving-container-item__descr{
  color: #1c2126;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.36px;
  line-height: 24px;
  margin: 0;
  padding-top: 59px;
}

/*END ===== PROBLEM SOLVING ===== END*/

/*START ===== DEV INDUSTRY ===== START*/

.dev-industry{
  padding-top: 100px;
}
.dev-industry__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dev-industry__img{
  padding-top: 32px;
}
.dev-industry__list{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 761px;
  margin: 0 auto;
  padding: 0;
}
.dev-industry-list__item{
  display: flex;
  align-items: center;
  padding-top: 24px;
  color: #1c2126;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.43px;
  line-height: 28px;
  list-style: none;
}
.dev-industry-list__item::before{
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 9px;
}
.dev-industry-list__item:first-child::before{
  background-color: #f18000;
}
.dev-industry-list__item:last-child::before{
  background-color: #31a5db;
}
.dev-industry__btn{
  min-width: 231px;
  margin-top: 42px;
}

/*END ===== DEV INDUSTRY ===== END*/

/*START ===== BUILD BLOCKCHAIN ===== START*/

.build-blockchain{
  background-image: url('../img/tech_diligence/bg_blockchain.png');
  padding: 220px 0 140px 0;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-top: -150px;
}
.build-blockchain__list{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.build-blockchain-list__item{
  color: #1c2126;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.43px;
  line-height: 28px;
  margin-bottom: 23px;
}
.build-blockchain-list__item>a{
  color: #000;
  text-decoration: none;
}
.build-blockchain-list-item__sublist{
  padding-top: 20px;
}
.build-blockchain-list-item__span{
  color: #31a5db;
}
.build-blockchain-list-item-sublist__subitem{
  list-style: none;
  color: #1c2126;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.build-blockchain-list-item-sublist-subitem__link{
  text-decoration: none;
  color: #31a5db;
  font-size: 20px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
/*END ===== BUILD BLOCKCHAIN ===== END*/

/*START ===== FAQ ===== START*/

.questions{
  padding-top: 150px;
}
.questions__description{
  color: #1c2126;
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding-top: 42px;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.36px;
  line-height: 24px;
  padding-bottom: 32px;
}
.questions-description__link{
  color: #31a5db;
  font-weight: 700;
  text-decoration: none;
}
.questions-list__item{
  list-style: none;
  margin-bottom: 16px;
}
.questions-list__item > a{
  color: #1c2126;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.34px;
  line-height: 28px;
  text-decoration: none;
}
.questions-list__item:last-child{
  margin-bottom: 0;
}
.questions__examples{
  padding-top: 100px;
}
.questions-examples__title{
  color: #1c2126;
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 31px;
}
.questions-examples__strong{
  display: block;
}
.questions-example__container{
  display: block;
  color: #1c2126;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.34px;
  line-height: 28px;
}
.questions-examples__subtitle{
  padding-bottom: 10px;
}
.questions-examples__strong{
  font-weight: 700;
  display: block;
}
.questions-examples__strong-padding{
  padding-bottom: 50px;
}
.questions-examples__list{
  list-style: none;
}
.questions-examples-list-last-item_span{
  font-weight: 600;
}
/*END ===== FAQ ===== END*/

/*START ===== CAPABILITIES ===== START*/

.capabilities{
  position: relative;
  padding-top: 100px;
}
.capabilities__container{
  padding-bottom: 50px;
}

/*END ===== CAPABILITIES ===== END*/

/*START ===== EXPERIENCE ===== START*/

.experience{
  padding-top: 50px;
}
.experience__btn{
  display: flex;
  align-items: center;
  width: 231px;
  margin: 42px auto;
  padding: 14px 17px;
}
.git-icon{
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 6px;
  background: url('../img/tech_diligence/git_icon.svg');
}
.experience__list{
  display: flex;
  flex-wrap: wrap;
}
.experience-list__item{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-right: 42px;
}
.experience-list__item:nth-child(3n){
  margin-right: 0;
}
.experience-list-item__span{
  display: block;
  padding-bottom: 3px;
  color: #1c2126;
  font-family: "Open Sans Semi Bold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.34px;
  line-height: 28px;
}
/*END ===== EXPERIENCE ===== END*/

/*START ===== RESEARCH ===== START*/

.research__list{
  display: flex;
  flex-direction: column;
}
.research-list__item{
  color: #1c2126;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.34px;
  line-height: 28px;
  margin-bottom: 22px;
}

.research-list-item__strong{
  font-weight: 700;
}
.research-list-item__link{
  color: #31a5db;
  font-family: "Open Sans Semi Bold", sans-serif;
  font-weight: 600;
  text-decoration: none;
}
.research-list-item__italic{
  font-family: "Open Sans Light", sans-serif;
  font-weight: 300;
}
.research__btn{
  min-width: 231px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 231px;
}
/*END ===== RESEARCH ===== END*/


/*START ===== FOOTER ===== START*/
.footer {
  background-color: #FBFBFB;
  position: relative;
  margin-top: 100px;
}

.footer__container,
.footer__row {
  height: 100%;
}

.footer__logo {
  width: 121.41px;
  height: auto;
  padding: 17px 0;
  opacity: 0.2;
}

.footer__telegram {
  background-image: url(../img/icons/telegram_grey.png);
  width: 40px;
  height: 40px;
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0;
  transition: opacity .3s ease, background-image .3s ease;
}

.footer__telegram:hover {
  background-image: url(../img/icons/telegram.png);
  opacity: 0.7;
}

.footer__top{
    padding: 0 10px;
    align-items: center;
}
.footer__top-list{
    display: flex;
    align-items: center;
    margin-right: auto;
    padding-left: 70px;
}
.footer__top-item{
    list-style: none;
    padding-left: 16px;
}

.footer__top-link{
    color: #535962;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    text-decoration: none;
}
.footer__top-email{
    min-width: 124px;
    height: 30px;
    font-size: 12px;
    line-height: 26px;
}
.footer__logo_legiLogic{
    opacity: 1;
}
.footer__bottom{
    display: flex;
    align-items: center;
}
.footer__bottom-contact{
    display: block;
    margin-right: auto;
    padding-left: 76px;
    opacity: 0.5;
    color: #535962;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
}
.footer__bottom-social{
    display: flex;
    align-items: center;
}
.footer__bottom-social li {
    margin-left: 14px;
    list-style: none;
}
.footer__bottom-item{
    list-style: none;
    width: 40px;
    height: 40px;
    display: block;
    transition: .3s all ease-in-out;
}
.footer__bottom-item_medium{
    background: url('../img/social/Medium.png');
    background-size: 100%;
}
.footer__bottom-item_medium:hover{
    background: url('../img/social/medium_hover.png');
    background-size: 100%;
}
.footer__bottom-item_linkedin{
    background: url('../img/social/linkedin.png');
    background-size: 100%;
}
.footer__bottom-item_linkedin:hover{
    background: url('../img/social/linkedin_hover.png');
    background-size: 100%;
}
.footer__bottom-item_twitter{
    background: url('../img/social/twitter.png');
    background-size: 100%;
}
.footer__bottom-item_twitter:hover{
    background: url('../img/social/twitter_hover.png');
    background-size: 100%;
}
.footer__bottom-item_facebook{
    background: url('../img/social/facebook.png');
    background-size: 100%;
}
.footer__bottom-item_facebook:hover{
    background: url('../img/social/facebook_hover.png');
    background-size: 100%;
}
.footer__bottom-item_github{
    background: url('../img/social/github.png');
    background-size: 100%;
}
.footer__bottom-item_github:hover{
    background: url('../img/social/github_hover.png');
    background-size: 100%;
}
.footer__bottom-item_telegram{
    background: url('../img/social/telegram.png');
    background-size: 100%;
}
.footer__bottom-item_telegram:hover{
    background: url('../img/social/telegram_hover.png');
    background-size: 100%;
}
/*END ===== FOOTER ===== END*/

/*START ===== POPUP ===== START*/

.popup {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  height: 453px;
  width: 850px;
  border-radius: 8px;
  box-shadow: 0 2px 8px 2px rgba(38, 67, 126, 0.1);
  z-index: 50;
}

.popup__content {
  display: flex;
}

.popup__image {
  width: 320px;
  height: 453px;
  position: relative;
}

.popup__image-wrapper {
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 453px;
  object-fit: cover;
}

.popup__info {
  padding: 27px 34px 32px 30px;
  position: relative;
}

.popup__name {
  margin: 0;
  color: #1C2126;
  font-family: "Nexa Bold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.popup__position {
  margin-top: 8px;
  color: #ADADAD;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
}

.popup__cv {
  margin-top: 21px;
  color: #244769;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 17px;
}

.popup__bottom {
  position: absolute;
  bottom: 32px;
  width: calc(100% - 64px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


.popup__socials {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: -9px;
  margin-right: -9px;
}

.popup__shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 110vw;
  height: 110vh;
  z-index: 49;
  opacity: 0.58;
  background-color: #25292D;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
}

.popup__link {
  color: #31A5DB;
  font-family: "Lucida Grande", sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: -2px;

}

.popup__close {
  width: 35px;
  height: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: opacity .3s ease;
  border-right: 9px;
}

.popup__close:hover {
  opacity: 0.7;
}

.popup__close:before,
.popup__close:after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  background-color: #535962;
  width: 17.8px;
  right: 0;
  top: 0;
}

.popup__close:before {
  transform: translate(-10px, 14px) rotate(45deg);
}

.popup__close:after {
  transform: translate(-10px, 14px) rotate(-45deg);

}

.team__btn{
  display: none;
  justify-content: center;
  margin: 0 auto;
  height: 40px;
  min-width: 176px;
  font-size: 12px;
  line-height: initial;
}
.contact-mobile{
  display: none;
}
.header__hamburger-mob{
    display: none;
}
.our-team__description{
    width: 100%;
    max-width: 663px;
    color: #1C2126;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 24px;
    margin: 18px auto 23px auto;
    -webkit-font-smoothing: antialiased;

}

.active-team{
    display: block;
}
.team__list li {
    list-style: none;
}
.questions__examples>img{
  width: 100%;
  height: 100%;
}
#alacrity > img {
  width: auto;
}
.capabilities__container>img{
  width: 100%;
  height: 100%;
}
.active-block{
  display: flex !important;
}
.oval{
  position: absolute;
  z-index: -1;
}
.oval-1{
  top: 0;
  right: 0;
}
.oval-2{
  top: 20%;
  left: 0;
}
.oval-3{
  right: 0;
  top: 54%;
}
.oval-4{
  left: 0;
  bottom: 5%;
}
/*END ===== POPUP ===== END*/



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media screen and (max-width: 1199px) {
/*  .team__list{
    justify-content: space-between;
  }*/
  .team__list-item{
      margin-right: 20px;
  }
  .experience__list{
    justify-content: space-between;
    padding: 0;
  }
  .experience-list__item{
    margin-right: 0;
  }
  .experience-list__item>iframe{
    width: 400px;
  }
}
@media (max-width: 1199px) {

  .blockchain-card {
    max-width: 235px;
  }

  .founder {
    height: 285px;
  }

  .founder__image {
    height: 100%;
    object-fit: cover
  }
  .founder__cv {
    line-height: 15px;
  }
}
@media screen and (max-width: 1100px){
  .case-study__example img{
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1060px){
    .hero {
        background-image: url(../img/bg/hero-bg_mobile.png) !important;
        max-height: none;
    }
}
@media (max-width: 991px) {
  .description__title {
    font-size: 26px;
    line-height: 1.8;
  }


  .blockchain__cards {
    flex-direction: column;
    align-items: center
  }

  .blockchain-card {
    max-width: 261px;
    margin-bottom: 30px;
  }

  .blockchain-card:last-child {
    margin-bottom: 0;
  }

  .founder {
    max-width: 580px;
    margin-bottom: 30px;
    height: auto;
  }

  .founder__cv {
    line-height: 21px;
    font-size: 13px;
  }

  .core-team__title {
    margin-top: 49px;
  }

  .core-team-member {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .core-team-member__image {
    width: 80%;
    max-width: 240px;
  }

  .core-team-member {
    margin-bottom: 30px;
  }

  .advisors__title {
    margin-top: 60px;
  }

  .advisor {
    max-width: 580px;
  }

  .partners-investors {
    padding-bottom: 63px;
  }

  .partners-investors-list__item {
    width: 50%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .advisors {
    margin-bottom: 40px;
  }

  .description:after {
    background-image: url(../img/bg/arrow_mobile.png);
    height: 42vw;
    bottom: -98px;
  }

  .benefits {
    margin-top: 50px;
  }
  .header-logo__wrapper{
    max-width: 16%;
  }
  .description__list{
    flex-direction: column;
  }
  .description__list>li{
    margin-bottom: 15px;
  }
  .description__row{
    margin-left: 0;
    margin-right: 0;
  }
  .advisors__list li{
    margin-bottom: 15px;
  }
  .case-study__list{
    columns: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    left: 0;
    padding-left: 0;
  }
  .blockchain__title{
      padding-top: 25px;
  }

    .team__list-item:nth-child(4n){
        margin-right: 20px;
    }
    .advisors__list{
        justify-content: flex-start;
    }
    .advisors__list li{
        width: 32%;
        margin-right: 9px;
    }
    .header-nav-item__link{
      font-size: 0.7em;
    }
  .menu-arrow{
    top: 6px;
  }
  .tech{
    background-image: url(../img/tech_diligence/header_img_mobile.png);
    max-height: none;
  }
  .experience__list{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 880px) {
  .popup {
    width: 325px;
    padding-top: 19.95px;
    padding-bottom: 20px;


  }

  .popup__content {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow: auto;
    padding: 0 20px;
  }

  .popup__close {
    top: 0;
    right: -3px;
  }

  .popup__close:before,
  .popup__close:after {
    width: 14px;
  }

  .popup__link {
    font-family: "Lucida Grande",
      sans-serif;
  }

  .popup__socials {
    font-size: 16px;
    line-height: 18px;
    position: relative;
  }

  .popup__image,
  .popup__image-wrapper {
    height: 150px;
    width: 115px;
    border-radius: 8px;
  }


  .popup__name {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 0;
  }

  .popup__position {
    font-size: 14px;
    font-style: italic;
    line-height: 17px;
    text-align: center;
    margin-top: 7.5px;
    margin-bottom: 0;
  }

  .popup__cv {
    margin-top: 7px;
    margin-bottom: 0;
  }

  .popup__info {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .popup__bottom {
    position: relative;
    margin-top: 14px;
    bottom: 0;
    flex-shrink: 0;
  }
}


@media (max-width: 767px) {

  .advisor__position_nowrap {
    white-space: nowrap;
  }

  .header-nav {
    display: none;
  }

  .header-nav__telegram {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .header__row {
    margin-right: 0;
    margin-left: 0;
  }

  .mmenu__list {
    margin: 0;
    position: fixed;
    top: 60px;
    width: 100%;
    background-color: #fff;
    height: 100%;
    list-style-type: none
  }

  .mmenu-item {
    width: 100%;
    height: auto;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .faq-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mmenu-item-list__item{
    list-style: none;
    margin-bottom: 15px;
  }
  .mmenu-item-list-item__link{
    text-decoration: none;
    color: #535962;
  }
  .mmenu-item__list{
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0;
  }
  .mmenu-item__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #535962;
    font-family: "Open Sans";
    font-size: 20px;
    padding: 25px 0;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    transition: color .3s ease;
    outline: 0;
    text-decoration: none;
    user-select: none;
  }

  .mmenu-item__link:hover,
  .mmenu-item__link:active,
  .mmenu-item__link:focus,
  .mmenu-item__link.active {
    user-select: none;
    color: #31A5DB;
    outline: 0;
    background-color: #fff;
  }

  .mmenu__item:after {
    content: '';
    height: 1px;
    border-radius: 3px;
    position: absolute;
    background-image: linear-gradient(to right, rgba(210, 244, 252, 1), rgba(201, 237, 219, 1));
    display: block;
    left: 13px;
    bottom: 0;
    width: calc(100% - 26px);
  }

  .mmenu__item:last-child:after {
    display: none;
  }

  .description:after {
    bottom: -60px;
    background-image: url(../img/optimized/bg/arrow_mobile.png);

  }

  .benefits {
    margin-top: 50px;
  }

  .benefits__title {
    margin-top: 80px;
  }

  .hero__logo {
    margin-top: 80px;
  }

  .hero__container {
    padding-left: 29px;
    padding-right: 24px;
  }

  .hero__title {
    font-size: 20px;
    line-height: 36px;
  }

  .hero-title__span {
    display: block;
  }

  .hero__btn {
    margin-top: 50px;
  }

  .description__row {
    margin-top: 41px;
  }

  .description__title {
    font-size: 20px;
    letter-spacing: 0.67px;
    line-height: 36px;
  }

 /* .description__container {
    padding: 0 40px 0 40px;
  }*/

  .description__text {
    margin-top: 25px;
  }
  .benefits__title
 /*  {
    margin-top: 0;
  }*/

  .shadow-card {
    width: auto;
  }

  .benefits__content {
    width: 100%;
  }

  .benefits-card-info__text {
    max-width: none;
  }

  .benefits__container {
    padding-left: 0;
    padding-right: 0;
  }

  .benefits-card {
    padding: 0 25px;
    margin-left: -6px;
    margin-right: -6px;
    height: auto;
    flex-direction: column-reverse;
  }

  .benefits-card__info {
    margin-right: 6px;
    margin-left: 6px;
  }

  .benefits-card__image {
    margin-right: 6px;
    margin-left: 6px;
    width: 105px;
    height: auto;
  }

  .benefits-card-info__title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    text-align: left;
  }

  .benefits-card-info__text {
    margin-top: 12px;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 24px;
  }

  .benefits-card__image_speed {
    margin: 20px 0 16px 0;
  }

  .benefits-card__image_cake {
    margin-bottom: 16px;
    margin-top: 20px;
  }

  .blockchain {
    background-image: url(../img/bg/blockchain-bg_mobile.png);
    padding-top: 131px;
    background-size: 100% 100%;
    margin-bottom: 18px;
  }

  .blockchain__subtitle {
    font-size: 16px;
    line-height: 23px;
    margin-top: 19px;
    margin-bottom: 23px;
  }

  .blockchain-subtitle__span {
    display: block;
  }

  .who-we-are__subtitle {
    font-size: 18px;
    line-height: 23px;
  }

  .who-we-are__subtitle:before {
    transform: translateX(calc(-100% - 22px));
  }

  .who-we-are__subtitle:after {
    margin-left: 22px;
    background-image: linear-gradient(to right, rgba(201, 237, 219, 1), rgba(210, 244, 252, 1));
  }

  .founder,
  .advisor {
    flex-direction: column;
    max-width: calc(100vw - 50px);
    align-items: center;
  }

  .founder__info {
    padding: 9px 20px 21px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .founder__cv {
    align-self: flex-start;
  }

  .founder__socials {
    position: relative;
    margin-top: 12px;
  }

  .founder__image,
  .advisor__image {
    height: 150px;
    width: 115px;
    margin-top: 19.95px;
    border-radius: 8px
  }

  .founders__title {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .core-team__members-list {
    justify-content: space-around;
  }

  .core-team-member {
    width: 40vw;
  }

  .core-team-member__image {
    width: 100%
  }

  .core-team-member__name {
    font-size: 14px;
    line-height: 18px;
    margin-top: 13px;
  }

  .core-team-member__position {
    font-size: 14px;
    line-height: 19px;
    margin-top: 4px;
  }

  .advisors__title {
    margin-top: 14px;
    margin-bottom: 30px;
  }

  .advisor-image__wrapper {
    height: 150px;
    width: 115px;
    margin-top: 19.95px;
  }

  .advisor {
    height: 329px;
    max-width: 325px;
  }

  .advisor__image {
    object-fit: cover;
    -o-object-fit: cover;
    margin-top: 0;
    flex-shrink: 0;
  }

  .advisor__info {
    padding: 12px 20px 20px 21px;
    height: 100%;
  }

  .advisor__name {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  .advisor__position {
    font-size: 14px;
    line-height: 17px;
    text-align: center;

  }



  .advisors-socials {
    bottom: 19.5px;
    right: 23px;
  }


  .partners-investors {
    background-size: cover;
  }

  .title {
    font-size: 23px;
    line-height: 28px;
  }

  .see-more {
    font-size: 14px;
    line-height: 18px;
  }

  .partners-investors {
    padding: 70px 0;
  }

  .partners-investors-list {
    padding: 0;
  }

  .partners-investors-list-item__image_dcu {
    width: 121px;
  }

  .partners-investors-list-item__image_legilogic {
    width: 119px;
  }

  .partners-investors-list-item__image_nervos {
    width: 122px;
  }

  .partners-investors-list-item__image_cmb {
    width: 138px;
  }

  .contact-us {
    padding: 0;
    margin-bottom: 70px;
  }

  .contact-us-card {
    flex-direction: column;
    align-items: center;
    padding: 37px 0;
  }

  .contact-us__image {
    width: 145px;
  }

  .contact-us__button {
    margin-right: 0;
    margin-top: 35px;
  }

  .contact-us-card,
  .contact-us__content {
    width: 100vw;
  }

  .contact-us__content {
    margin-top: 20px;
  }
  .team_container{
    margin-left: 0;
    padding: 0 15px;
  }
  .developers__list{
    flex-wrap: wrap;
  }
  .developers__list-item{
    height: 100px;
    margin-bottom: 15px;
  }
  .header-logo__wrapper{
    max-width: none;
  }
  .description__text-bolder{
    font-size: 17px;
    line-height: 24px;
  }
  .system__title{
    margin-bottom: 24px;
  }
  .description__text-normal{
    margin-bottom: 30px;
  }
  .description__text-bolder{
    margin-bottom: 24px;
  }
  .description__list{
    margin-top: 0;
  }
  .partners__title{
    margin-top: 50px;
  }
  .shadow-card{
    width: auto;
  }
  .benefits-card:nth-child(even){
    flex-direction: column-reverse;
  }
  .who-we-are{
    padding-top: 50px;
  }
  .developers{
    padding-top: 50px;
  }
  .advisors{
    margin-bottom: 0;
  }
  .our-blog{
    padding-top: 50px;
  }
  .our-blog__card{
    height: 270px;
    flex-direction: column;
    padding-bottom: 0;
  }
  .footer__container{
    display: flex;
  }
  .footer__top{
    align-items: flex-start;
    flex-direction: column;
    margin-right: auto;
    width: 200px;
  }
  .footer__bottom{
      margin-right: 10px;
    flex-direction: column;
  }
  .footer__top-list{
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    padding-left: 0;
  }
  .footer__bottom-social{
    display: initial;
    columns: 2;
    padding-left: 0;
  }
  .footer__top-link{
    display: block;
    padding-bottom: 24px;
    font-size: 14px;
  }
  .contact-mobile{
    display: block;
    width: 291px;
    padding: 30px 0 24px 0;
  }
  .contact-desktop{
    display: none;
  }
  .footer__bottom-social li{
    margin-bottom: 20px;
  }
  .footer__bottom .col-auto{
    padding: 0;
    align-self: flex-end;
  }
    .header__hamburger-mob{
        display: block;
    }
    .footer__top-item{
        padding-left: 0;
    }
    .footer__top>.col-auto{
        padding: 0;
    }
    .team__list{
        justify-content: space-between;
    }
    .advisors__list li {
        width: 45%;
        margin-right: 25px;
    }
  .problem-solving{
    padding-top: 50px;
  }
  .tech{
    padding-bottom: 100px;
  }
  .dev-industry__img{
    width: 100%;
    height: auto;
  }
  .dev-industry__list{
    flex-direction: column;
  }
  .oval{
    display: none;
  }
}


@media (max-width: 620px) {
  .description:after {
    bottom: 0;
  }
  .tech__title-main{
    width: 100%;
    font-size: 18px;
  }
  .tech__title{
    width: 100%;
    font-size: 14px;
    line-height: 20px;
  }
  .problem-solving-container__item{
    flex-direction: column;
  }
  .problem-solving-container-item__descr{
    padding-top: 22px;
    font-size: 14px;
  }
  .problem-solving-container-item__wrap{
    margin-right: 0;
  }
  .problem-solving__container{
    padding-left: 0;
  }
  .problem-solving-container-item-wrap__span{
    font-size: 22px;
  }
  .dev-industry-list__item{
    font-size: 14px;
    line-height: 20px;
  }
  .tech__btn{
    min-width: 161px;
    font-size: 16px;
  }
  .dev-industry__btn{
    min-width: 161px;
  }
  .build-blockchain-list__item{
    font-size: 14px;
    line-height: 30px;
  }

  .build-blockchain__list{
    padding-left: 30px;
  }
  .build-blockchain-list-item-sublist__subitem{
    font-size: 14px;
  }
  .build-blockchain-list-item-sublist-subitem__link{
    font-size: 14px;
  }
  .questions{
    padding-top: 50px;
  }
  .questions__list{
    padding-left: 0;
  }
  .questions__examples{
    padding-top: 5px;
  }

}
@media screen and (max-width: 529px) {
    .advisors__list{
        justify-content: center;
    }
    .advisors__list li {
        width: 51%;
        margin-right: 0;
    }
  .experience-list__item>iframe{
    width: 100%;
  }
}
@media screen  and (max-width: 461px){
    .team__list-item:nth-child(4n){
        margin-right: 0;
    }
    .team__list-item{
        margin-right: 0;
    }
}
@media (max-width: 440px) {
  .description__row {
    padding-bottom: 150px;
  }
  .description__card-absolute{
    width: 100%;
    height: 100%;
  }
    .blockchain {
        background-size: auto 100%;
    }
/*  .description__card-span{
    text-align: center;
  }*/
/*  .description-card__list{
    align-self: center;
    padding: 0;
  }*/
}
@media screen and (max-width: 421px) {
    .team__list{
        justify-content: center;
    }
    .blockchain{
        padding-top: 231px;
    }
    .team__btn{
        display: flex;
    }
    .team__list li {
        display: none;
        list-style: none;
    }
}
@media screen and (max-width: 407px){
  .team__list{
    justify-content: center;
  }
  .blockchain{
    padding-top: 210px;
  }
  .description-card__list{
    align-self: flex-start;
    padding-left: 0;
    width: 250px;
    margin: 0 auto;
  }

}
@media (max-width: 390px) {
  .blockchain {
    background-size: auto 100%;
  }
  .advisors__list{
    flex-direction: column;
    align-items: center;
  }
  .case-study__list{
    align-items: flex-start;
  }
  .case-study{
    padding-top: 50px;
  }
  .case-study__example{
    padding-top: 30px;
  }
  .case-study__example-span{
    font-size: 18px;
    color: #535962;
  }
}

@media screen and (max-width: 375px){
  .description-card__list {
    padding-left: 18px;
    width: 285px;
  }
}

@media (max-width: 330px) {
  .description__row {
    padding-bottom: 120px;
  }
    .footer__bottom{
        position: relative;
        left: -25px;
    }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@font-face {
  font-family: "Nexa Bold";
  src: url("../fonts/nexa-bold.woff2") format("woff2"),
    url("../fonts/nexa-bold.woff") format("woff");
}

@font-face {
  font-family: "Nexa Light";
  src: url("../fonts/nexa-light.woff2") format("woff2"),
    url("../fonts/nexa-light.woff") format("woff");
}

@font-face {
  font-family: "Nexa Thin";
  src: url("../fonts/nexa-thin.woff2") format("woff2"),
    url("../fonts/nexa-thin.woff") format("woff");
}

@font-face {
  font-family: "Nexa Regular";
  src: url("../fonts/nexa-regular.woff2") format("woff2"),
    url("../fonts/nexa-regular.woff") format("woff");
}

@font-face {
  font-family: ".SF NS Display";
  src: url("../fonts/sf.woff2") format("woff2"),
    url("../fonts/sf.woff") format("woff");
}


@font-face {
  font-family: "Lucida Grande";
  src: url("../fonts/lucida-grande.woff2") format("woff2"),
    url("../fonts/lucida-grande.woff") format("woff");
}
