/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: black;
  font-size: 16px;
  line-height: 1.4;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*START ===== GENERAL REPEATING RULES ===== START*/

.title {
  color: #535962;
  font-family: "Nexa Bold", sans-serif;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.btn {
  font-family: "Open Sans", sans-serif;
  height: 50px;
  min-width: 209px;
  line-height: 46px;
  border-radius: 2px;
  background-color: #31A5DB;
  box-shadow: 1px 1px 14px 0 rgba(30, 35, 44, 0.14);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s ease;
  border: 2px solid transparent;
  cursor: pointer;
  display: inline-block;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: rgba(49, 165, 219, 0.2);
  border-color: #31A5DB;
  color: #244769;
}

.shadow-card {
  position: relative;
  width: 630px;
}


.shadow-card:before,
.shadow-card:after {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
}

.shadow-card:before {
  box-shadow: 0 -2px 30px rgba(0, 0, 0, 0.2);
  top: 15px;
  bottom: 80%;
}

.shadow-card:nth-child(even):before {
  right: 10px;
  transform: rotate(-.75deg);
}

.shadow-card:nth-child(odd):before {
  left: 10px;
  transform: rotate(.75deg);
}


.shadow-card:after {
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  bottom: 15px;
  top: 80%;

}

.shadow-card:nth-child(even):after {
  right: 10px;
  transform: rotate(.75deg);
}

.shadow-card:nth-child(odd):after {
  left: 10px;
  transform: rotate(-.75deg);
}

.see-more {
  color: #31A5DB;
  font-family: "Nexa Bold", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity .3s ease;
}

.see-more:hover {
  opacity: 0.6;
}

.twitter-icon {
  background-image: url(../img/icons/twitter.png);
  width: 20px;
  height: 23px;
  margin-top: 2px;
}

.twitter-icon:after {
  background-image: url(../img/icons/twitter_hover.png);
}

.twitter-icon:hover {
  background-image: url(../img/icons/twitter_hover.png);
}

.linkedin-icon {
  background-image: url(../img/icons/linkedin.png);
  width: 19px;
  height: 22px;
}

.linkedin-icon:after {
  visibility: hidden;
  background-image: url(../img/icons/linkedin.png);
  content: '';
  height: 0;
  width: 0;
  opacity: 0;
  position: absolute;
}

.linkedin-icon:hover {
  background-image: url(../img/icons/linkedin_hover.png);
}

.socials-icon {
  margin-left: 9px;
  margin-right: 9px;
  background-size: contain;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
  transition: background-image .3s ease;
}

.socials-icon:after {
  visibility: hidden;
  content: '';
  height: 0;
  width: 0;
  opacity: 0;
  position: absolute;
}

.telegram-icon {
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/telegram.png);
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;
  position: relative;
  transition: opacity .3s ease;
  display: block;

}

.telegram-icon:hover {
  opacity: 0.7;
}

.hamburger {
  display: none;
}

.hamburger__inner {
  width: 21px;
  height: 2px;
  background-color: #31A5DB;
  border-radius: 3px;
  cursor: pointer;
  transition: all .2s ease;
}

.hamburger:before,
.hamburger:after {
  display: block;
  position: absolute;
  content: '';
  height: 2px;
  background-color: #31A5DB;
  border-radius: 3px;
  transition: all .275s ease .025s;
}

.hamburger:before {
  width: 16px;
  margin-top: -5px;
}

.hamburger:after {
  width: 14px;
  margin-top: 3px;
}

.hamburger.active .hamburger__inner {
  background-color: rgba(49, 165, 219, 0);
  transform: translateX(15px);
}

.hamburger.active:before {
  transform: translate(0, 9.5px) rotate(45deg);
  width: 20px;
}

.hamburger.active:after {
  transform: rotate(-45deg);
  width: 20px;

}

/*END ===== GENERAL REPEATING RULES ===== END*/

/*START ===== HEADER ===== START*/

.mmenu__list {
  display: none;
  padding-left: 0;
}

.header {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, .63);
  box-shadow: 2px 2px 8px 0 #244769;
  transition: background-color .3s ease;
}

.header__logo {
  width: 100%;
  max-width: 121.41px;
  max-height: 24px;
  margin-left: 15px;
}

.header-nav__telegram {
  display: none;
}

.header-logo__wrapper {
  display: flex;
  align-items: center;
  height: 60px;
}

.header-nav__list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.header-nav-item__link {
  color: #535962;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  transition: color .3s ease;
}

.header-nav-item__link:after {
  display: block;
  content: '';
  width: 110%;
  margin-left: -10%;
  height: 2px;
  max-width: 0;
  background: linear-gradient(155deg, rgba(49, 165, 219, 0) 1%, rgba(49, 165, 219, 0) 4%, rgba(49, 165, 219, 0) 7%, rgba(49, 165, 219, 0) 10%, rgba(49, 165, 219, 1) 11%, rgba(49, 165, 219, 1) 16%, rgba(49, 165, 219, 1) 17%, rgba(49, 165, 219, 1) 100%);
  border-radius: 1px 1px 1px 0.2px;
  transition: max-width .3s ease;
}

.header-nav-item:hover .header-nav-item__link {
  color: #31A5DB;
}

.header-nav-item__link:active,
.header-nav-item__link:focus {
  outline: 0
}

.header-nav-item:hover .header-nav-item__link:after,
.header-nav-item__link:active:after,
.header-nav-item__link:focus:after {
  max-width: 110%;
}

.header-nav-item_telegram {
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/telegram.png);
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;
  position: relative;
  transition: opacity .3s ease;

}

.header-nav-item-link_telegram {
  display: block;
  width: 100%;
  height: 100%;
}

.header-nav-item_telegram:hover {
  opacity: 0.7;
}

/*END ===== HEADER ===== END*/

/*START ===== HERO ===== START*/

.hero {
  padding-top: 60px;
  background-size: cover;
  background-position: 50% 100%;
  max-height: 56vw;
  height: auto;
  padding-bottom: 210px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__logo {
  width: 200px;
  height: auto;
  margin-top: 112px;
}

.hero__title {
  color: #FFFFFF;
  font-family: "Nexa Bold", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  margin-top: 59px;
  text-transform: uppercase;
}

.hero__btn {
  margin-top: 65px;
}

/*END ===== HERO ===== END*/

/*START ===== DESCRIPTION ===== START*/

.description {
  display: flex;
  position: relative;
}

.description:after {
  content: '';
  display: block;
  bottom: 0px;
  position: absolute;
  width: 100%;
  height: 14vw;
  background-image: url(../img/bg/arrow.png);
  background-size: cover;
  background-position: 50% 100%;
}


.description__row {
  margin-top: 73px;
  padding-bottom: 202px;

}

.description__title {
  font-family: "Nexa Bold", sans-serif;
  font-size: 30px;
  max-width: 370px;
  letter-spacing: 1px;
  line-height: 43px;
  color: #000;
  text-transform: uppercase;
  margin: 0;
}

.description-title__span {
  display: block;
}

.description-title__span_gray {
  color: #888D94;
}

.description__text {
  margin: 0;
  color: #535962;
  font-family: ".SF NS Display", sans-serif;
  font-size: 17px;
  letter-spacing: 0.36px;
  line-height: 24px;
}

/*END ===== DESCRIPTION ===== END*/

/*START ===== BENEFITS ===== START*/

.benefits__title {
  margin-top: 47px;
  margin-bottom: 18px;
}

.benefits__container {
  justify-content: center;
  display: flex;
}


.benefits__content {
  overflow-x: hidden;
  display: inline-block;
}

.benefits-card {
  padding-top: 45px;
  padding-bottom: 42px;
  margin: 24px auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefits-card:nth-child(odd) {
  flex-direction: row-reverse
}

.benefits-card-info {
  margin-left: 18px;
  margin-right: 30px;
}

.benefits-card-info__title {
  margin-top: 45px;
  color: #31A5DB;
  font-family: "Nexa Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.benefits-card-info__text {
  margin-top: 13px;
  max-width: 236px;
  color: #244769;
  font-family: ".SF NS Display", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.benefits-card__image {
  max-height: 150px;
  margin-right: 136px;
  margin-left: 30px;
  width: auto;
}

.benefits-card__image_cake {
  max-height: 146px;
}

.benefits-card__image_speed {
  max-height: 149px;
}

.benefits-card__image_security {
  max-height: 148.46px;
}

/*END ===== BENEFITS ===== END*/

/*START ===== BLOCKCHAIN ===== START*/
.blockchain {
  padding: 270px 0 186.84px 0;
  margin-bottom: 50px;
  background-image: url(../img/bg/blockchain-bg.png);
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media (min-width: 1500px) {
  .blockchain {
    background-size: 100% 100%;
  }
}

.blockchain__subtitle {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Nexa Light", sans-serif;
  font-size: 19px;

  text-transform: uppercase;
  line-height: 23px;
  text-align: center;
}

.blockchain__subtitle_strong {
  color: #000;
}

.blockchain__cards {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blockchain-card {
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: #fff;
  height: 261px;
  max-width: 256px;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockchain-card__image {
  height: 80px;
  width: auto;
  margin: 28px 0 0 0;
}

.blockchain-card__title {
  color: #31A5DB;
  font-family: "Nexa Bold", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 28px 0 0 0;
}

.blockchain-card__text {
  margin-top: 12px;
  color: #535962;
  font-family: ".SF NS Display", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

/*END ===== BLOCKCHAIN ===== END*/

/*START ===== WHO-WE-ARE ===== START*/

.who-we-are {
  padding-top: 50px;
}

.who-we-are__title {
  margin: 0;
}

.who-we-are__subtitle {
  color: #000000;
  font-family: "Nexa Light", sans-serif;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  background: #fff;
  display: block;
  z-index: 5;
  overflow-x: hidden;
}

.who-we-are__subtitle:before,
.who-we-are__subtitle:after {
  content: '';
  height: 1px;
  display: inline-block;
  width: 50%;
  position: absolute;
  top: 50%;

}

.who-we-are__subtitle:before {
  background-image: linear-gradient(to left, rgba(201, 237, 219, 1), rgba(210, 244, 252, 1));
  transform: translateX(calc(-100% - 13px));
}

.who-we-are__subtitle:after {
  margin-left: 13px;
  background-image: linear-gradient(to right, rgba(201, 237, 219, 1), rgba(210, 244, 252, 1));
}

/* FOUNDERS */

.founder {
  display: flex;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.11);
  border-radius: 8px;
}

.founder__image {
  width: 44.6%;
  height: 100%;
}

.founder__info {
  padding: 12px;
  position: relative;
}

.founder__name {
  color: #535962;
  font-family: "Nexa Bold", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
}

.founder__position {
  color: #ADADAD;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 19px;
  margin: 4px 0 0 0;
}

.founder__cv {
  color: #1C2126;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 17px;
  margin: 4px 0 0 0;
}

.founder__socials {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 12px;
  margin: 0 -9px 12px -9px;
  list-style-type: none;
  padding-left: 0;

}



/* ADVISORS */

.advisors {
  margin-bottom: 100px;
}

.advisor {
  display: flex;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.11);
  height: 220px;
  margin-bottom: 23px;
}

.advisors__title {
  margin: 130px 0 32px 0;
}

.advisor__image {
  height: 220px;
}

.advisors__see-more {
  margin: 0;
}

.advisor__info {
  padding: 17px 15px 21px 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.advisor__name {
  color: #1C2126;
  font-family: "Nexa Bold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0;
}

.advisor__position {
  color: #ADADAD;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 19px;
  margin: 4px 0 0 0;
}


.advisor__cv {
  color: #1C2126;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 17px;
  margin: 0;
}

.advisors-socials {
  display: flex;
  position: absolute;
  list-style-type: none;
  margin: 0 -9px 0 -9px;
  right: 15px;
  bottom: 20px;
}

.advisors__see-more {

}

/* CORE TEAM */

.core-team__title {
  margin: 119px 0 0 0;
}

.core-team__members-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.core-team__member {
  width: 166px;
  position: relative;
}

.core-team-member__image {
  width: 100%;
}

.core-team-member__name {
  color: #1C2126;
  font-family: "Nexa Bold", sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 18px 0 0 0;
}

.core-team-member__position {
  color: #ADADAD;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: italic;
  line-height: 27px;
  text-align: center;
  margin: 3px 0 0 0;
}



/*END ===== WHO-WE-ARE ===== END*/

/*START ===== PARTNERS/INVESTORS ===== START*/
.partners-investors {
  background-image: url(../img/bg/partners-investors-bg.png);
  background-size: 100% 100%;
  background-position: center;
  padding: 64px 0 93px;
  margin-bottom: 70px;
}

.partners-investors-list {
  padding-left: 45px;
  padding-right: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-top: 47px;
}

.partners-investors-list-item__image {
  max-width: 200px;
}

.partners-investors-list-item__image_dcu {
  width: 194px;
}

.partners-investors-list-item__image_legilogic {
  width: 149px;
}

.partners-investors-list-item__image_nervos {
  width: 170px;
}

.partners-investors-list-item__image_cmb {
  width: 191px;
}


/*END ===== PARTNERS/INVESTORS ===== END*/

/*START ===== CONTACT US ===== START*/

.contact-us {
  padding: 50px 0 105px 0;
}

.contact-us__title {
  margin: 0;
}

.contact-us__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us__content {
  overflow-x: hidden;
  position: relative;
  margin-top: 75px;
}

.contact-us-card {
  background-color: #fff;
  padding: 57px 0 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 10px 0;
}

.contact-us__image {
  width: 175px;
}

.contact-us__button {
  margin-right: 65px;
}

/*END ===== CONTACT US ===== END*/

/*START ===== FOOTER ===== START*/
.footer {
  background-color: #FBFBFB;
  height: 89px;
  position: relative;
}

.footer__container,
.footer__row {
  height: 100%;
}




.footer__logo {
  width: 121.41px;
  height: auto;
  padding: 17px 0;
  opacity: 0.2;
}

.footer__telegram {
  background-image: url(../img/icons/telegram_grey.png);
  width: 40px;
  height: 40px;
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0;
  transition: opacity .3s ease, background-image .3s ease;
}

.footer__telegram:hover {
  background-image: url(../img/icons/telegram.png);
  opacity: 0.7;
}


/*END ===== FOOTER ===== END*/

/*START ===== POPUP ===== START*/

.popup {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  height: 453px;
  width: 850px;
  border-radius: 8px;
  box-shadow: 0 2px 8px 2px rgba(38, 67, 126, 0.1);
  z-index: 50;
}

.popup__content {
  display: flex;
}

.popup__image {
  width: 320px;
  height: 453px;
  position: relative;
}

.popup__image-wrapper {
  width: 100%;
  height: 100%;
  max-width: 320px;
  max-height: 453px;
  object-fit: cover;
}

.popup__info {
  padding: 27px 34px 32px 30px;
  position: relative;
}

.popup__name {
  margin: 0;
  color: #1C2126;
  font-family: "Nexa Bold", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.popup__position {
  margin-top: 8px;
  color: #ADADAD;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
}

.popup__cv {
  margin-top: 21px;
  color: #244769;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 17px;
}

.popup__bottom {
  position: absolute;
  bottom: 32px;
  width: calc(100% - 64px);
  display: flex;
  justify-content: space-between;
}
.popup-socials__item {
  margin-left: -9px;
  margin-right: -9px;
}
.popup__socials {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.popup__shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 110vw;
  height: 110vh;
  z-index: 49;
  opacity: 0.58;
  background-color: #25292D;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
}

.popup__link {
  color: #31A5DB;
  font-family: "Lucida Grande", sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;

}

.popup__close {
  width: 35px;
  height: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: opacity .3s ease;
  border-right: 9px;
}

.popup__close:hover {
  opacity: 0.7;
}

.popup__close:before,
.popup__close:after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  background-color: #535962;
  width: 17.8px;
  right: 0;
  top: 0;
}

.popup__close:before {
  transform:  translate(-10px, 14px) rotate(45deg);
}

.popup__close:after {
  transform: translate(-10px, 14px)  rotate(-45deg);

}

/*END ===== POPUP ===== END*/



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (max-width: 1199px) {

  .blockchain-card {
    max-width: 235px;
  }

  .founder__cv {
    line-height: 15px;
  }
}

@media (max-width: 991px) {

  .hero {
    background-image: url(../img/bg/hero-bg_mobile.png) !important;
    max-height: none;
  }

  .description__title {
    font-size: 26px;
    line-height: 1.8;
  }


  .blockchain__cards {
    flex-direction: column;
    align-items: center
  }

  .blockchain-card {
    max-width: 261px;
    margin-bottom: 30px;
  }

  .blockchain-card:last-child {
    margin-bottom: 0;
  }

  .founder {
    max-width: 580px;
    margin-bottom: 30px;
  }

  .founder__cv {
    line-height: 21px;
    font-size: 13px;
  }

  .core-team__title {
    margin-top: 49px;
  }

  .core-team-member {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .core-team-member__image {
    width: 80%;
    max-width: 240px;
  }

  .core-team-member {
    margin-bottom: 30px;
  }

  .advisors__title {
    margin-top: 60px;
  }

  .advisor {
    max-width: 580px;
  }

  .partners-investors {
    padding-bottom: 63px;
  }

  .partners-investors-list__item {
    width: 50%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .advisors {
    margin-bottom: 40px;
  }

  .description:after {
    background-image: url(../img/bg/arrow_mobile.png);
    height: 42vw;
    bottom: -98px;
  }

  .benefits {
    margin-top: 50px;
  }
}

@media (max-width: 880px) {
  .popup {
    width: 325px;
    padding-top: 19.95px;
      padding-bottom: 20px;


  }  

  .popup__content {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow: auto;
  padding: 0 20px;
  }

  .popup__close {
    top: 0;
    right: -3px;
  }
.popup__close:before,
  .popup__close:after {
    width: 14px;
  }

  .popup__link {
    font-family: "Lucida Grande",
    sans-serif;
  }

  .popup__socials {
      font-size: 16px;
      line-height: 18px;
      position: relative;
  }

  .popup__image,
  .popup__image-wrapper {
      height: 150px;
      width: 115px;
      border-radius: 8px;
  }


  .popup__name {
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      margin-top: 9px;
      margin-bottom: 0;
  }

  .popup__position {
      font-size: 14px;
      font-style: italic;
      line-height: 17px;
      text-align: center;
      margin-top: 7.5px;
      margin-bottom: 0;
    }

    .popup__cv {
      margin-top: 7px;
      margin-bottom: 0;
    }

    .popup__info {
      height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .popup__bottom {
      position: relative;
      margin-top: 14px;
      bottom: 0;
      flex-shrink: 0;
    }
  }


@media (max-width: 767px) {
 
  .advisor__position_nowrap {
   white-space: nowrap;
 }

  .header-nav {
    display: none;
  }

  .header-nav__telegram {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .header__row {
    margin-right: 0;
    margin-left: 0;
  }

  .mmenu__list {
    margin: 0;
    position: fixed;
    top: 60px;
    width: 100%;
    background-color: #fff;
    height: 100%;
    list-style-type: none
  }

  .mmenu-item {
    width: 100%;
    height: 87px;
    max-height: calc(16.66% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .mmenu-item__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #535962;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    transition: color .3s ease;
    outline: 0;
    text-decoration: none;
    user-select: none;
  }

  .mmenu-item__link:hover,
  .mmenu-item__link:active,
  .mmenu-item__link:focus {
    user-select: none;
    color: #31A5DB;
    outline: 0;
    background-color: #fff;
  }

  .mmenu__item:after {
    content: '';
    height: 1px;
    border-radius: 3px;
    position: absolute;
    background-image: linear-gradient(to right, rgba(210, 244, 252, 1), rgba(201, 237, 219, 1));
    display: block;
    left: 13px;
    bottom: 0;
    width: calc(100% - 26px);
  }

  .mmenu__item:last-child:after {
    display: none;
  }

  .description:after {
    bottom: -60px;
  }

  .benefits {
    margin-top: 100px;
  }

  .benefits__title {
    margin-top: 80px;
  }

  .hero__logo {
    margin-top: 80px;
  }

  .hero__container {
    padding-left: 29px;
    padding-right: 24px;
  }

  .hero__title {
    font-size: 20px;
    line-height: 36px;
  }

  .hero-title__span {
    display: block;
  }

  .hero__btn {
    margin-top: 50px;
  }

  .description__row {
    margin-top: 41px;
  }

  .description__title {
    font-size: 20px;
    letter-spacing: 0.67px;
    line-height: 36px;
  }

  .description__container {
    padding: 0 40px 0 40px;
  }

  .description__text {
    margin-top: 25px;
  }

  .benefits {
    margin-top: 80px;
  }

  .benefits__title {
    margin-top: 0;
  }

  .shadow-card {
    width: auto;
  }

  .benefits__content {
    width: 100%;
  }

  .benefits-card-info__text {
    max-width: none;
  }

  .benefits__container {
    padding-left: 0;
    padding-right: 0;
  }

  .benefits-card {
    padding: 0 25px;
    margin-left: -6px;
    margin-right: -6px;
    height: 232px;
  }

  .benefits-card__info {
    margin-right: 6px;
    margin-left: 6px;
  }

  .benefits-card__image {
    margin-right: 6px;
    margin-left: 6px;
    width: 105px;
    height: auto;
  }

  .benefits-card-info__title {
    margin-top: 0;
    margin-bottom: 0;
  }

  .benefits-card-info__text {
    margin-top: 12px;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 24px;
  }

  .benefits-card__image_speed {
    margin-right: 19px;
  }

  .benefits-card__image_cake {
    margin-bottom: 50px;
  }

  .blockchain {
    background-image: url(../img/bg/blockchain-bg_mobile.png);
    padding-top: 131px;
    background-size: 100% 100%;
    margin-bottom: 18px;
  }

  .blockchain__subtitle {
    font-size: 16px;
    line-height: 23px;
    margin-top: 19px;
    margin-bottom: 23px;
  }

  .blockchain-subtitle__span {
    display: block;
  }

  .who-we-are__subtitle {
    font-size: 18px;
    line-height: 23px;
  }

  .who-we-are__subtitle:before {
    transform: translateX(calc(-100% - 22px));
  }

  .who-we-are__subtitle:after {
    margin-left: 22px;
    background-image: linear-gradient(to right, rgba(201, 237, 219, 1), rgba(210, 244, 252, 1));
  }

  .founder,
  .advisor {
    flex-direction: column;
    max-width: calc(100vw - 50px);
    align-items: center;
  }

  .founder__info {
    padding: 9px 20px 21px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .founder__cv {
    align-self: flex-start;
  }

  .founder__socials {
    position: relative;
  }

  .founder__image,
  .advisor__image {
    height: 150px;
    width: 115px;
    margin-top: 19.95px;
    border-radius: 8px
  }


  .core-team__members-list {
    justify-content: space-around;
  }

  .core-team-member {
    width: 40vw;
  }

  .core-team-member__image {
    width: 100%
  }

  .core-team-member__name {
    font-size: 14px;
    line-height: 18px;
    margin-top: 13px;
  }

  .core-team-member__position {
    font-size: 14px;
    line-height: 19px;
    margin-top: 4px;
  }

  .advisors__title {
    margin-top: 14px;
    margin-bottom: 30px;
  }

  .advisor-image__wrapper {
    height: 150px;
    width: 115px;
    margin-top: 19.95px;
  }

  .advisor {
    height: 329px;
    max-width: 325px;
  }

  .advisor__image {
    object-fit: cover;
    -o-object-fit: cover;
    margin-top: 0;
    flex-shrink: 0;
  }

  .advisor__info {
    padding: 12px 20px 20px 21px;
    height: 100%;
  }

  .advisor__name {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  .advisor__position {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
  }



  .advisors-socials {
    bottom: 19.5px;
    right: 23px;
  }


  .partners-investors {
    background-size: cover;
  }

  .title {
    font-size: 23px;
    line-height: 28px;
  }

  .see-more {
    font-size: 14px;
    line-height: 18px;
  }

  .partners-investors {
    padding: 70px 0;
  }

  .partners-investors-list {
    padding: 0;
  }

  .partners-investors-list-item__image_dcu {
    width: 121px;
  }

  .partners-investors-list-item__image_legilogic {
    width: 119px;
  }

  .partners-investors-list-item__image_nervos {
    width: 122px;
  }

  .partners-investors-list-item__image_cmb {
    width: 138px;
  }

  .contact-us {
    padding: 0;
    margin-bottom: 75px;
  }

  .contact-us-card {
    flex-direction: column;
    align-items: center;
    padding: 37px 0;
  }

  .contact-us__image {
    width: 145px;
  }

  .contact-us__button {
    margin-right: 0;
    margin-top: 35px;
  }
}


@media (max-width: 620px) {
  .description:after {
    bottom: 0;
  }

  @media (max-width: 440px) {
    .description__row {
      padding-bottom: 150px;
    }
  }

  @media (max-width: 390px) {
    .blockchain {
      background-size: auto 100%;
    }
  }

  @media (max-width: 330px) {
    .description__row {
      padding-bottom: 120px;
    }
  }


  /* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

  @media print {

    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster */
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]:after {
      content: " ("attr(href) ")";
    }

    abbr[title]:after {
      content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }

    pre {
      white-space: pre-wrap !important;
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
      display: table-header-group;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
  }


  @font-face {
    font-family: "Nexa Bold";
    src: url("..//fonts/nexa-bold.woff2") format("woff2"),
      url("../fonts/nexa-bold.woff") format("woff");
  }

  @font-face {
    font-family: "Nexa Light";
    src: url("../fonts/nexa-light.woff2") format("woff2"),
      url("../fonts/nexa-light.woff") format("woff");
  }

  @font-face {
    font-family: "Lucida Grande";
    src: url("../fonts/nexa-light.woff2") format("woff2"),
      url("../fonts/nexa-light.woff") format("woff");
    font-weight: bold;
  }
